.component-table-block{
    width: max-content;
    border-radius: 10px;
    padding: 0 35px 25px 35px;
    background-color: white;
    max-height: 90%;
    overflow-y: auto;
}

.component-table-block h2{
    font-family: cursive;
    text-align: center;
}


td, th{
    padding: 0 20px;
}

th{
    margin-bottom: 10px;
    color: rgb(204, 0, 0);
    font-family: cursive;
    font-size: 20px;
}

tr td:first-child{
    font-family: cursive;
    color: rgb(0, 102, 255);
}

.hide-rates{
    height: max-content;
    width: max-content;
    position: absolute;
    margin-top: -64px;
    margin-left: 320px;
}

.hide-rates i{
    color: red;
    font-size: 22px;
}

.hide-rates i:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: rgb(153, 0, 0);
}